<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Kinetise.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>84EA907E1BCFAC1200B7C1D3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>84FCE45B1BCBBE160097D302</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>84FCE4661BCBC1BF0097D302</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A5736FC214692C40001CB6E5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B42A9E0E18EAD55800A90FB3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
